{% extends "indexbase.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<br/>
<br/>
<br/>
<h1
    style="  text-align:center;

background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
color: white;
    "
    >HOME PAGE</h1>
    <h1
   style="background-color:grey ;
   font-size: 14px;
 margin-top: 420px;
 height: 30px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align:center;
  bottom: 0;
  color: white;
   "
   >
   Made  by Shankar
   </h1>
{% endblock %}